@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/MavenPro-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/MavenPro-Bold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/Dosis-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_2) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/Dosis-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: 800;
  src: url("/1.0/fonts/Dosis-ExtraBold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_2) format('truetype');
}*/
#CODAHeaderDiv {
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

#siteDiv {
  display: block;
  position: absolute;
  top: 0;
  background-color: transparent; }
  #siteDiv html {
    padding-bottom: 100px; }

.CODAStylingShell .CODAStylingDashboard {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: white;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out; }
.CODAStylingShell .CODAMinimizedDialog .KFloatableButton0 {
  display: none; }

.CODAWidgetEdit {
  border: 4px dotted #7dbf13;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  text-align: center; }

.CODAWidgetSelected {
  outline: 2px solid #7dbf13; }

.CODAInlineEditorToolbar {
  background-color: white;
  position: absolute;
  height: 28px;
  text-align: center;
  border: 2px solid #7dbf13;
  border-bottom: 2px solid white; }
  .CODAInlineEditorToolbar * {
    display: inline; }
  .CODAInlineEditorToolbar button {
    background-color: transparent;
    border: 0px;
    display: inline;
    width: 26px;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
    color: black;
    font-size: 15px;
    -webkit-text-shadow: 0px 0px 1px black;
    -moz-text-shadow: 0px 0px 1px black;
    -ms-text-shadow: 0px 0px 1px black;
    text-shadow: 0px 0px 1px black;
    padding: 0;
    margin: 0; }
    .CODAInlineEditorToolbar button:hover, .CODAInlineEditorToolbar button:focus {
      color: white;
      background-position: -37px 0px; }
    .CODAInlineEditorToolbar button:active {
      color: white;
      background-position: -75px 0px; }

.CODALayoutEdit {
  border: 4px dotted #7dbf13;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9990;
  text-align: center;
  cursor: pointer; }

.CODAGenericShell .CODAMinimizedDialog .KFloatableContent .CODAFormMinimized .KAbstractInput .KAbstractInputHelpElement {
  cursor: zoom-in; }
