@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/MavenPro-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/MavenPro-Bold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/Dosis-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_2) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/Dosis-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: 800;
  src: url("/1.0/fonts/Dosis-ExtraBold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_2) format('truetype');
}*/
.CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAApplicationSubsriptionWizard .CODAApplicationSubsriptionWizardProductSummary label {
  color: #db440d;
  font-weight: bold; }
.CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAApplicationSubsriptionTermsCheck {
  width: 35px;
  display: inline-block;
  vertical-align: bottom !important; }
  .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAApplicationSubsriptionTermsCheck > div.KWidgetPanelContent > div:first-of-type {
    width: 22px !important;
    border: 0 !important; }
.CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAApplicationSubsriptionTermsText {
  display: inline-block; }
.CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplicationWizardButtonFBPage {
  display: inline-block;
  width: auto;
  height: 24px !important;
  padding: 3px;
  top: 102px !important;
  left: 485px; }
  .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplicationWizardButtonFBPage button {
    height: 29px !important;
    font-size: 1.25em !important;
    min-width: 33px !important;
    background: #000c47;
    -webkit-box-shadow: 0px 5px 5px black;
    -moz-box-shadow: 0px 5px 5px black;
    box-shadow: 0px 5px 5px black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white; }
    .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplicationWizardButtonFBPage button:hover {
      border-color: white;
      background: #000c47 linear-gradient(rgba(0, 0, 0, 0.5), #000c47); }
    .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplicationWizardButtonFBPage button:active {
      -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
      -moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
      box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
      border-color: white; }
.CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel {
  height: auto;
  overflow: auto;
  width: inherit; }
  .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel h2 {
    display: none; }
  .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelItemTitle {
    padding: 5px;
    margin-top: 5px;
    font-size: 1.5em;
    font-family: 'CODA_FONT_1';
    text-decoration: none;
    height: 2em;
    line-height: 2em;
    color: #000c47;
    border-top: 1px dotted #000c47;
    display: block; }
    .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelItemTitle * {
      vertical-align: middle; }
    .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelItemTitle .CODAWidgetsAccordionTitle {
      display: none; }
    .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelItemTitle i {
      display: inline-block;
      font-size: 1.25em;
      padding: 0 0.25em;
      vertical-align: baseline; }
  .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelItemTitleSelected {
    color: black;
    border-top: 1px dotted #000c47 black;
    font-weight: bold; }
  .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelTabContent .KPanelContent {
    margin: 5px; }
  .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelTabContent .CODAApplicationsButton {
    display: inline-block;
    height: 125px;
    margin: 7px;
    bottom: auto !important;
    position: relative !important;
    text-transform: uppercase;
    vertical-align: top; }
    .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelTabContent .CODAApplicationsButton button {
      width: 245px;
      height: 110px;
      cursor: pointer;
      text-transform: uppercase;
      background: #000c47;
      border: 1px solid rgba(255, 255, 255, 0.25);
      color: white;
      -webkit-box-shadow: 0px 5px 5px black;
      -moz-box-shadow: 0px 5px 5px black;
      box-shadow: 0px 5px 5px black;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.6)));
      background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.6));
      background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.6));
      background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.6));
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6)); }
      .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelTabContent .CODAApplicationsButton button .KButtonInputLabel {
        width: 90%;
        height: 85%;
        color: inherit;
        text-transform: uppercase;
        display: inline-block;
        overflow: hidden;
        font-size: 0.9em;
        text-align: left; }
        .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelTabContent .CODAApplicationsButton button .KButtonInputLabel i {
          font-size: 5em;
          margin-bottom: 5px;
          margin-right: 0.1em;
          float: left; }
        .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelTabContent .CODAApplicationsButton button .KButtonInputLabel * {
          vertical-align: middle;
          color: inherit; }
        .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelTabContent .CODAApplicationsButton button .KButtonInputLabel span {
          font-size: 0.75em;
          color: rgba(255, 255, 255, 0.75);
          text-transform: none !important; }
      .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelTabContent .CODAApplicationsButton button:hover {
        border-color: white;
        background: #000c47 linear-gradient(rgba(0, 0, 0, 0.5), #000c47); }
      .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelTabContent .CODAApplicationsButton button:active {
        -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
        -moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
        border-color: #319a00; }
  .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelTabContent .CODAApplicationsButtonSelected button {
    color: #db440d;
    border: 1px solid #db440d; }
    .CODAGenericShell .CODAFloatablePropDialog .KFloatableContent .CODAWizard .CODAWizardContent .CODAApplications .KLayeredPanel .KLayeredPanelTabContent .CODAApplicationsButtonSelected button:hover {
      border: 1px solid #db440d !important; }
.CODAGenericShell .CODAApplicationFBPageInfo {
  color: black;
  line-height: 25px;
  width: 460px;
  min-height: 150px;
  margin: 0 auto !important; }
  .CODAGenericShell .CODAApplicationFBPageInfo i {
    font-size: 3em;
    float: right; }
  .CODAGenericShell .CODAApplicationFBPageInfo img {
    float: left;
    display: inline;
    width: 100px;
    height: auto;
    margin: 0 10px;
    border: 1px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }
  .CODAGenericShell .CODAApplicationFBPageInfo b {
    color: inherit;
    font-size: 2em; }
.CODAGenericShell .CODAApplicationOwnerInfo {
  color: black;
  margin: 20px auto !important;
  line-height: 20px;
  width: 455px;
  height: 60px; }
  .CODAGenericShell .CODAApplicationOwnerInfo i {
    font-size: 3em; }
  .CODAGenericShell .CODAApplicationOwnerInfo img {
    float: left;
    display: inline;
    width: 100px;
    height: auto;
    margin: 0 10px;
    border: 1px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }
  .CODAGenericShell .CODAApplicationOwnerInfo b {
    color: inherit;
    font-size: 2em; }
.CODAGenericShell .CODAApplicationFBPageInfoSF {
  color: black; }
  .CODAGenericShell .CODAApplicationFBPageInfoSF img {
    border: 1px solid black; }
.CODAGenericShell > div.CODAApplicationsShellContent .KText {
  margin-top: 65px;
  display: block;
  position: absolute !important;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -20px;
  padding-left: 20px;
  background: white;
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5) inset;
  opacity: 1;
  color: #db440d; }
  .CODAGenericShell > div.CODAApplicationsShellContent .KText .KTextLead {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 200px;
    color: white;
    font-size: 3em;
    font-style: italic; }
  .CODAGenericShell > div.CODAApplicationsShellContent .KText .KTextBody {
    position: absolute;
    bottom: 80px;
    font-size: 3em;
    vertical-align: top;
    color: #db440d;
    font-family: 'CODA_FONT_2';
    line-height: 3em;
    text-shadow: 0px 1px 0px black; }
    .CODAGenericShell > div.CODAApplicationsShellContent .KText .KTextBody i {
      text-shadow: 0px 1px 0px black;
      font-size: 2em;
      vertical-align: bottom;
      color: #db440d; }
