@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/MavenPro-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/MavenPro-Bold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/Dosis-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_2) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/Dosis-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: 800;
  src: url("/1.0/fonts/Dosis-ExtraBold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_2) format('truetype');
}*/
#CODAHeaderDiv {
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

#siteDiv {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0; }
  #siteDiv html {
    padding-bottom: 100px; }

.CODACMSShell > .KWidgetPanelContent > .CODAGenericShellBackButton button {
  height: 50px !important;
  bottom: 20px;
  top: auto; }
  .CODACMSShell > .KWidgetPanelContent > .CODAGenericShellBackButton button:hover {
    background: transparent; }
.CODACMSShell .CODAFooterMinimized .CODAFooterContent {
  position: relative; }
  .CODACMSShell .CODAFooterMinimized .CODAFooterContent .CODAToolbarButton {
    margin-top: auto !important;
    top: -10px;
    opacity: 0.2;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    .CODACMSShell .CODAFooterMinimized .CODAFooterContent .CODAToolbarButton:hover {
      top: -50px;
      opacity: 1; }

.CODAWidgetEdit {
  border: 4px dotted #7dbf13;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  text-align: center; }

.CODAWidgetSelected {
  outline: 2px solid #7dbf13; }

.CODAInlineEditorToolbar {
  background-color: white;
  position: absolute;
  height: 28px;
  text-align: center;
  border: 2px solid #7dbf13;
  border-bottom: 2px solid white; }
  .CODAInlineEditorToolbar * {
    display: inline; }
  .CODAInlineEditorToolbar button {
    background-color: transparent;
    border: 0px;
    display: inline;
    width: 26px;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
    color: black;
    font-size: 15px;
    -webkit-text-shadow: 0px 0px 1px black;
    -moz-text-shadow: 0px 0px 1px black;
    -ms-text-shadow: 0px 0px 1px black;
    text-shadow: 0px 0px 1px black;
    padding: 0;
    margin: 0; }
    .CODAInlineEditorToolbar button:hover, .CODAInlineEditorToolbar button:focus {
      color: white;
      background-position: -37px 0px; }
    .CODAInlineEditorToolbar button:active {
      color: white;
      background-position: -75px 0px; }

.CODALayoutEdit {
  border: 4px dotted #7dbf13;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9990;
  text-align: center;
  cursor: pointer; }

.CODAGenericShell .CODAAddWidgetsDialog {
  z-index: 901; }
  .CODAGenericShell .CODAAddWidgetsDialog .KFloatableContent {
    height: inherit; }
.CODAGenericShell .CODAWidgetsDialog .KFloatableContent {
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid white; }
  .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets {
    height: inherit !important;
    width: auto !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 2px solid #1b95ce;
    background-image: url("//images/dialog_bg.jpg");
    background-repeat: repeat; }
    .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets h2 {
      color: #0092bf;
      padding: 5px;
      padding-bottom: 10px;
      border-bottom: 1px solid #404040;
      margin: 5px;
      font-size: 16px; }
    .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets .CODAWidgetsContent {
      height: inherit; }
    .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets .KLayeredPanel {
      height: auto;
      overflow: auto;
      padding: 10px;
      width: inherit; }
      .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets .KLayeredPanel h2 {
        display: none; }
      .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets .KLayeredPanel .KLayeredPanelItemTitle {
        padding: 5px;
        margin-top: 5px;
        font-size: 16px;
        font-family: CODA_FONT_1;
        text-decoration: none;
        height: 19px;
        line-height: 19px;
        color: #0092bf;
        border: 1px dotted #0092bf;
        display: block; }
        .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets .KLayeredPanel .KLayeredPanelItemTitle .CODAWidgetsAccordionTitle {
          display: none; }
      .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets .KLayeredPanel .KLayeredPanelItemTitleSelected {
        color: white;
        border: 1px dotted white;
        font-weight: bold; }
      .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets .KLayeredPanel .KLayeredPanelTabContent .KPanelContent {
        float: left;
        margin: 5px; }
      .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets .KLayeredPanel .KLayeredPanelTabContent .CODAWidgetsButton {
        float: left;
        margin: 5px;
        bottom: auto !important;
        position: relative !important;
        text-transform: uppercase; }
        .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets .KLayeredPanel .KLayeredPanelTabContent .CODAWidgetsButton button {
          width: 100px;
          height: 110px;
          cursor: pointer;
          text-transform: uppercase;
          color: #a1c400;
          background-image: url("/images/drop_bg.jpg");
          background-repeat: repeat;
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          border: 1px solid rgba(255, 255, 255, 0.25); }
          .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets .KLayeredPanel .KLayeredPanelTabContent .CODAWidgetsButton button .KButtonInputLabel {
            width: 90%;
            height: 90%;
            color: inherit;
            text-transform: uppercase;
            display: inline-block;
            overflow: hidden;
            word-break: break-all; }
            .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets .KLayeredPanel .KLayeredPanelTabContent .CODAWidgetsButton button .KButtonInputLabel i {
              font-size: 64px;
              display: block; }
          .CODAGenericShell .CODAWidgetsDialog .KFloatableContent .CODAWidgets .KLayeredPanel .KLayeredPanelTabContent .CODAWidgetsButton button:hover {
            border: 1px solid #a1c400; }

.CODAPageListDialog {
  z-index: 901; }
  .CODAPageListDialog .KFloatableButton0 {
    left: 235px;
    top: 24px; }
  .CODAPageListDialog .CODAPageList h2 {
    font-size: 14px; }
  .CODAPageListDialog .CODAPageList .MainLevelPanel, .CODAPageListDialog .CODAPageList .SecondaryLevelPanel {
    border: 2px solid white;
    float: left;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8); }
  .CODAPageListDialog .CODAPageList .KPanel .EspecialContent {
    min-height: 200px;
    width: 265px;
    border-radius: 3px;
    border: 2px solid #000c47;
    background: white;
    position: relative;
    float: left;
    padding-bottom: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }
  .CODAPageListDialog .CODAPageList .CODAToobarDialogPointer {
    left: 35px;
    position: absolute;
    top: -35px;
    font-size: 3em;
    color: white !important; }
  .CODAPageListDialog .CODAPageList .MainLevelPanel {
    width: 269px; }
  .CODAPageListDialog .CODAPageList .MainLevelPanel h2 {
    height: 26px;
    padding: 10px 0 0 10px;
    text-transform: uppercase;
    width: 246px; }
  .CODAPageListDialog .CODAPageList .SecondaryLevelPanel {
    min-width: 260px;
    max-width: 520px;
    padding-top: 40px 0 32px; }
  .CODAPageListDialog .CODAPageList .SecondaryLevelPanel .BreadcrumbDiv {
    height: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .CODAPageListDialog .CODAPageList .SecondaryLevelPanel .Detail {
    position: absolute;
    top: 38px;
    left: 0;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #010101; }
  .CODAPageListDialog .CODAPageList .SecondaryLevelPanel .BreadcrumbDiv div {
    margin: 10px 0 0 10px;
    text-transform: uppercase; }
  .CODAPageListDialog .CODAPageList .SecondaryLevelPanel .BreadcrumbDiv a {
    text-decoration: none;
    float: left;
    font-size: 11px;
    color: #000c47; }
  .CODAPageListDialog .CODAPageList .SecondaryLevelPanel .BreadcrumbDiv a:hover {
    text-decoration: underline;
    cursor: pointer; }
  .CODAPageListDialog .CODAPageList .SecondaryLevelPanel .BreadcrumbDiv span {
    float: left;
    margin: 0 5px;
    font-size: 11px;
    color: #04abe0; }
  .CODAPageListDialog .CODAPageList .SecondaryLevelPanel .EspecialContent {
    min-height: 386px;
    padding: 42px 0 32px;
    width: auto !important;
    min-width: 256px;
    max-width: 500px;
    overflow-x: auto; }
  .CODAPageListDialog .CODAPageList .SecondaryLevelPanel .NewDiv {
    width: auto;
    float: left; }
  .CODAPageListDialog .CODAPageList .SecondaryLevelPanel .EspecialContent .KPanel {
    float: left;
    margin: 0 10px;
    min-height: 330px;
    padding-bottom: 46px;
    margin-top: 10px; }
  .CODAPageListDialog .CODAPageList .KPanel .KInput {
    text-align: center;
    margin: 10px 0; }
  .CODAPageListDialog .CODAPageList .SecondaryLevelPanel .EspecialContent .KInput {
    position: absolute !important;
    bottom: 0; }
  .CODAPageListDialog .CODAPageList .KPanel .KInput .KWidgetPanelContent > div:first-of-type {
    border: 1px solid white;
    width: 230px;
    margin: 0 auto;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }
  .CODAPageListDialog .CODAPageList .KPanel .KInput .KWidgetPanelContent .InnerLabel {
    color: black;
    font-size: 13px;
    height: 20px;
    padding: 5px 0 0 5px;
    text-align: left;
    width: 196px; }
  .CODAPageListDialog .CODAPageList .KPanel .KInput .KWidgetPanelContent input {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.1)) repeat transparent;
    background: linear-gradient(top, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.1)) repeat transparent;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.1)) repeat transparent;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.1)) repeat transparent;
    border: 1px solid #131313;
    border-radius: 2px 2px 2px 2px;
    color: black;
    font-size: 10px;
    height: 20px;
    margin: 0 !important;
    max-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    width: 218px; }
  .CODAPageListDialog .CODAPageList .KList {
    width: 230px;
    margin: 0 auto; }
  .CODAPageListDialog .CODAPageList .KLink {
    float: left;
    width: 230px;
    border-bottom: 1px solid #3b3b3b; }
  .CODAPageListDialog .CODAPageList .KLinkMarked {
    color: white;
    background-color: #db440d;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, #db440d));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), #db440d);
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), #db440d);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), #db440d);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #db440d); }
    .CODAPageListDialog .CODAPageList .KLinkMarked * {
      color: white !important; }
  .CODAPageListDialog .CODAPageList .KLink a {
    text-decoration: none;
    color: black; }
    .CODAPageListDialog .CODAPageList .KLink a:hover {
      color: white; }
  .CODAPageListDialog .CODAPageList .KLink .ChildPagesBt {
    cursor: pointer;
    font-size: 14px;
    height: 23px;
    padding: 7px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 30px;
    color: black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }
    .CODAPageListDialog .CODAPageList .KLink .ChildPagesBt:hover {
      -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
      color: white; }
  .CODAPageListDialog .CODAPageList .KLink .KLinkText {
    padding: 7px 0 0 8px;
    height: 23px;
    width: 192px;
    color: black;
    font-size: 14px; }
  .CODAPageListDialog .CODAPageList .KLinkNoChildren .KLinkText {
    width: 220px; }
  .CODAPageListDialog .CODAPageList .KLink .KLinkText:hover, .CODAPageListDialog .CODAPageList .KLink .ChildPagesBt:hover {
    color: white;
    background-color: #db440d;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.6)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6)); }
  .CODAPageListDialog .CODAPageList .KLink:hover .CODAListPagesPointer {
    display: block !important; }

.CODAPageListBaloon {
  border: 2px solid white;
  background: #000c47;
  width: auto;
  height: auto;
  color: black;
  font-size: 11px;
  padding: 0px 2px;
  line-height: 16px;
  font-family: "CODA_FONT_1";
  z-index: 9998;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }
  .CODAPageListBaloon ul {
    margin: 5px;
    padding: 0; }
    .CODAPageListBaloon ul li {
      min-width: 114px;
      padding: 4px 10px;
      border-top: 1px solid #0088b2; }
    .CODAPageListBaloon ul li:first-of-type {
      border-top: 0; }
