@import "compass/css3/transition";
@import "CODAConstants";

.CODAWidgetEdit {
	border: 4px dotted #7dbf13;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	text-align: center;
}

.CODAWidgetSelected {
	//outline: 2px solid rgb(0, 146, 191);
	outline: 2px solid rgb(125, 191, 19);
}

.CODAWidgetSmallEditButtons {
	//background-color: $FG_COLOR_8;
	@include background-image($LINEAR_GRADIENT_HOR_7 !important);
	position: fixed;
	top: 0;
	left: 0;
	width: 2em;
	height: 100%;
	text-align: center;

	* {
		display: inline;
	}

	.CODAWidgetSmallButton { 
		border: 3px solid rgb(89, 0, 0);
		width: 35px;
		height: 35px;
		display: block;
		vertical-align: middle;
		cursor: pointer;
		font-size: 16px;
		padding: 4px 6px;
		margin: 5px 7px;
		color: $FG_COLOR_1;
		background-color: $BG_COLOR_5;
		@include border-radius($BORDER_RADIUS);
		@include background-image($LINEAR_GRADIENT_5);
		@include text-shadow($TEXT_SHADOW_1);

		&:hover, &:focus {
			@include background-image($LINEAR_GRADIENT_INV_5);
		}

		&:active {
			background-image:  none;
		}
	}
}

.CODAInlineEditorToolbar {
	background-color: rgb(255, 255, 255);
	position: absolute;
	height: 28px;
	text-align: center;
	border: 2px solid rgb(125, 191, 19);
	border-bottom: 2px solid rgb(255, 255, 255);

	* {
		display: inline;
	}

	button {
		background-color: transparent;
		border: 0px;
		display: inline;
		width: 26px;
		height: 28px;
		vertical-align: middle;
		cursor: pointer;
		color: black;
		font-size: 15px;
		-webkit-text-shadow: 0px 0px 1px black;
		-moz-text-shadow: 0px 0px 1px black;
		-ms-text-shadow: 0px 0px 1px black;
		text-shadow: 0px 0px 1px black;
		padding: 0;
		margin: 0;

		&:hover, &:focus {
			color: rgb(255, 255, 255);
			background-position: -37px 0px;
		}

		&:active {
			color: rgb(255, 255, 255);
			background-position: -75px 0px;
		}
	}
}

.CODALayoutEdit {
	border: 4px dotted #7dbf13;
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9990;
	text-align: center; 
	cursor: pointer;
}

.cke_float {
	position: fixed !important;
	top: 165px !important;
	left: 0 !important;
	background: transparent !important;
	width: 15em !important;
	border: none !important;
	@include box-shadow(none !important);

	.cke_inner {
		background: transparent !important;
		border: none !important;
		@include box-shadow(none !important);
	}

	.cke_top {
		border: none !important;
		background: transparent !important;
		overflow: visible !important;
		@include box-shadow(none !important);
	}

	span.cke_toolbar {
		float: left !important;
		display: block;
		@include box-shadow(none !important);

		.cke_toolbar_start, .cke_toolbar_end {
			display: none !important;
		}

		.cke_toolbar_group {
			float: none !important;
		}

		.cke_toolgroup {
			border: 3px solid $FG_COLOR_8 !important;
			color: $FG_COLOR_1 !important;
			@include border-radius($BORDER_RADIUS !important);
			@include box-shadow(none !important);
		}

		&:nth-of-type(even) {
			clear: both !important;
		}
	}

	a.cke_button, a.cke_combo_button {
		display: block !important;
		float: none !important;
	}

	a.cke_combo_button {
		border: 3px solid $FG_COLOR_8 !important;
		@include border-radius($BORDER_RADIUS !important);
		@include box-shadow(none !important);
	}
}
