@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/MavenPro-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/MavenPro-Bold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/Dosis-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_2) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/Dosis-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: 800;
  src: url("/1.0/fonts/Dosis-ExtraBold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_2) format('truetype');
}*/
.CODAWidgetEdit {
  border: 4px dotted #7dbf13;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  text-align: center; }

.CODAWidgetSelected {
  outline: 2px solid #7dbf13; }

.CODAWidgetSmallEditButtons {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(100%, transparent)) !important;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.35), transparent) !important;
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.35), transparent) !important;
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.35), transparent) !important;
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.35), transparent) !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 2em;
  height: 100%;
  text-align: center; }
  .CODAWidgetSmallEditButtons * {
    display: inline; }
  .CODAWidgetSmallEditButtons .CODAWidgetSmallButton {
    border: 3px solid #590000;
    width: 35px;
    height: 35px;
    display: block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 16px;
    padding: 4px 6px;
    margin: 5px 7px;
    color: white;
    background-color: #db440d;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #db440d), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background-image: -webkit-linear-gradient(#db440d, rgba(0, 0, 0, 0.5));
    background-image: -moz-linear-gradient(#db440d, rgba(0, 0, 0, 0.5));
    background-image: -o-linear-gradient(#db440d, rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(#db440d, rgba(0, 0, 0, 0.5));
    text-shadow: 0px 1px 0px black; }
    .CODAWidgetSmallEditButtons .CODAWidgetSmallButton:hover, .CODAWidgetSmallEditButtons .CODAWidgetSmallButton:focus {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, #db440d));
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), #db440d);
      background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), #db440d);
      background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), #db440d);
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), #db440d); }
    .CODAWidgetSmallEditButtons .CODAWidgetSmallButton:active {
      background-image: none; }

.CODAInlineEditorToolbar {
  background-color: white;
  position: absolute;
  height: 28px;
  text-align: center;
  border: 2px solid #7dbf13;
  border-bottom: 2px solid white; }
  .CODAInlineEditorToolbar * {
    display: inline; }
  .CODAInlineEditorToolbar button {
    background-color: transparent;
    border: 0px;
    display: inline;
    width: 26px;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
    color: black;
    font-size: 15px;
    -webkit-text-shadow: 0px 0px 1px black;
    -moz-text-shadow: 0px 0px 1px black;
    -ms-text-shadow: 0px 0px 1px black;
    text-shadow: 0px 0px 1px black;
    padding: 0;
    margin: 0; }
    .CODAInlineEditorToolbar button:hover, .CODAInlineEditorToolbar button:focus {
      color: white;
      background-position: -37px 0px; }
    .CODAInlineEditorToolbar button:active {
      color: white;
      background-position: -75px 0px; }

.CODALayoutEdit {
  border: 4px dotted #7dbf13;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9990;
  text-align: center;
  cursor: pointer; }

.cke_float {
  position: fixed !important;
  top: 165px !important;
  left: 0 !important;
  background: transparent !important;
  width: 15em !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }
  .cke_float .cke_inner {
    background: transparent !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  .cke_float .cke_top {
    border: none !important;
    background: transparent !important;
    overflow: visible !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  .cke_float span.cke_toolbar {
    float: left !important;
    display: block;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
    .cke_float span.cke_toolbar .cke_toolbar_start, .cke_float span.cke_toolbar .cke_toolbar_end {
      display: none !important; }
    .cke_float span.cke_toolbar .cke_toolbar_group {
      float: none !important; }
    .cke_float span.cke_toolbar .cke_toolgroup {
      border: 3px solid #590000 !important;
      color: white !important;
      -webkit-border-radius: 6px !important;
      -moz-border-radius: 6px !important;
      -ms-border-radius: 6px !important;
      -o-border-radius: 6px !important;
      border-radius: 6px !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important; }
    .cke_float span.cke_toolbar:nth-of-type(even) {
      clear: both !important; }
  .cke_float a.cke_button, .cke_float a.cke_combo_button {
    display: block !important;
    float: none !important; }
  .cke_float a.cke_combo_button {
    border: 3px solid #590000 !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    border-radius: 6px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
