@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/TitilliumWeb-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'CODA_FONT_1';
  font-style: italic;
  font-weight: normal;
  src: url("/1.0/fonts/TitilliumWeb-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/TitilliumWeb-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'CODA_FONT_1';
  font-style: italic;
  font-weight: bold;
  src: url("/1.0/fonts/TitilliumWeb-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/RacingSansOne-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_2) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/RacingSansOne-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_2) format('truetype');
}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, 2
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

html {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: white url("/imgs/zp_top_bg.png") repeat-x top left; }
  body div.loading {
    z-index: 1;
    position: absolute;
    top: 0;
    display: block;
    margin: 0 auto !important;
    width: 100%;
    text-align: center;
    font-family: 'CODA_FONT_2';
    color: #202020;
    font-size: 40px;
    background: url("/imgs/logo.png") no-repeat top left;
    font-style: italic; }
    body div.loading span.text {
      padding-top: 20%;
      display: block;
      line-height: 120px;
      font-style: italic; }
      body div.loading span.text * {
        vertical-align: middle; }
      body div.loading span.text img {
        display: inline-block;
        height: 180px;
        width: auto; }
    body div.loading h1 {
      font-size: 18px;
      margin: 0 auto;
      margin-top: 75px;
      width: 800px;
      line-height: 20px; }
    body div.loading div.browser {
      display: inline-block;
      line-height: 15px;
      font-size: 14px;
      width: 125px;
      font-style: normal; }
      body div.loading div.browser img {
        width: 48px;
        height: 48px;
        padding: 0px;
        margin: 0px;
        border: 0px none; }
  body div.lost span.text img {
    height: 220px; }

iframe {
  border: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: transparent; }
