@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/MavenPro-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/MavenPro-Bold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/Dosis-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_2) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/Dosis-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: 800;
  src: url("/1.0/fonts/Dosis-ExtraBold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_2) format('truetype');
}*/
.CODAContextList {
  width: 240px;
  padding: 5px;
  position: absolute !important;
  right: 0;
  z-index: 999; }
  .CODAContextList .CODAContextListTitle {
    text-align: center;
    width: 70%;
    margin: 0 auto; }
  .CODAContextList button.fa-angle-up {
    position: absolute;
    left: 5%;
    top: 0px;
    font-size: 30px;
    border: 0;
    background: transparent; }
  .CODAContextList button.fa-angle-down {
    position: absolute;
    right: 5%;
    top: 0px;
    font-size: 30px;
    border: 0;
    background: transparent; }
  .CODAContextList .ListElements {
    margin: 0;
    padding: 10px 0;
    border-bottom: 2px solid #000; }
    .CODAContextList .ListElements li {
      text-align: left;
      padding: 10px;
      cursor: pointer; }
      .CODAContextList .ListElements li span {
        color: black;
        font-size: 12px;
        text-transform: uppercase;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); }
      .CODAContextList .ListElements li.Prev span {
        color: #ea4e02; }
      .CODAContextList .ListElements li.Actual span {
        color: #a1c400; }
      .CODAContextList .ListElements li.Next span {
        color: #00c2fe; }
      .CODAContextList .ListElements li.Selected {
        background-image: url("/images/tab_selected_bg.png"); }
        .CODAContextList .ListElements li.Selected span {
          color: black;
          text-shadow: none; }
        .CODAContextList .ListElements li.Selected.Prev {
          background: #ea4e02; }
        .CODAContextList .ListElements li.Selected.Actual {
          background: #a1c400; }
        .CODAContextList .ListElements li.Selected.Next {
          background: #00c2fe; }
  .CODAContextList div {
    margin-bottom: 50px; }
    .CODAContextList div h3 {
      font-size: 16px;
      margin: 10px 0 4px; }
    .CODAContextList div p {
      font-size: 13px;
      margin: 0; }
  .CODAContextList .TimeContextInfo {
    margin: 0;
    padding: 0; }
    .CODAContextList .TimeContextInfo li {
      display: block;
      line-height: 140%; }
      .CODAContextList .TimeContextInfo li:before {
        margin-right: 10px; }
      .CODAContextList .TimeContextInfo li.Prev:before {
        color: #ea4e02; }
      .CODAContextList .TimeContextInfo li.Actual:before {
        color: #a1c400; }
      .CODAContextList .TimeContextInfo li.Next:before {
        color: #00c2fe; }

.CODAContextCalendar {
  width: 240px;
  padding: 5px;
  position: absolute !important;
  right: 0;
  z-index: 999;
  text-align: center; }
  .CODAContextCalendar .CODAContextCalendarContent {
    text-align: center; }
    .CODAContextCalendar .CODAContextCalendarContent > div {
      background: white;
      -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
      width: 182px;
      margin-bottom: 20px;
      display: inline-block; }
      .CODAContextCalendar .CODAContextCalendarContent > div h2 {
        display: block !important;
        color: black !important; }
      .CODAContextCalendar .CODAContextCalendarContent > div thead .CODAContextCalendarDayName {
        line-height: 20px;
        font-size: 12px;
        color: #000c47;
        text-transform: uppercase; }
        .CODAContextCalendar .CODAContextCalendarContent > div thead .CODAContextCalendarDayName abbr {
          color: inherit; }
      .CODAContextCalendar .CODAContextCalendarContent > div thead tr button {
        border: 0;
        background: transparent;
        color: white;
        cursor: pointer; }
      .CODAContextCalendar .CODAContextCalendarContent > div tbody tr td {
        font-size: 11px;
        font-weight: bold;
        padding: 0; }
        .CODAContextCalendar .CODAContextCalendarContent > div tbody tr td button {
          border: 0;
          display: block;
          position: relative;
          width: 25px;
          line-height: 22px;
          color: black;
          background: transparent;
          padding: 0;
          margin: 0;
          cursor: pointer;
          font-size: 12px;
          margin: 1px 1px 0 0;
          font-family: 'CODA_FONT_1'; }
          .CODAContextCalendar .CODAContextCalendarContent > div tbody tr td button:hover {
            font-weight: bold; }
          .CODAContextCalendar .CODAContextCalendarContent > div tbody tr td button.Selected {
            font-weight: bold;
            color: #fff; }

.ColoredCollection_1 {
  background: #319a00 !important; }

.ColoredCollection_2 {
  background: #000c47 !important; }

.ColoredCollection_3 {
  background: #db440d !important; }

.ColoredCollection_4 {
  background: #004a3c !important; }

.ColoredCollection_5 {
  background: #000c47 !important; }

.ColoredCollection_6 {
  background: #590000 !important; }
