@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/MavenPro-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/MavenPro-Bold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/Dosis-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_2) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/Dosis-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: 800;
  src: url("/1.0/fonts/Dosis-ExtraBold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_2) format('truetype');
}*/
.CODAFieldWizardAddButton {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  color: #a400ff;
  border: 0;
  margin-top: 5px;
  background-color: linear-gradient(#590000, #590000, #3f0000); }
  .CODAFieldWizardAddButton button {
    color: white; }

.CODAFieldWizardRemoveButton {
  position: absolute;
  top: 3em;
  right: 0;
  font-weight: bold;
  color: #a400ff;
  border: 0;
  margin-top: 5px;
  background-color: linear-gradient(#590000, #590000, #3f0000); }
  .CODAFieldWizardRemoveButton button {
    color: white; }

.CODAFieldFormAddButton {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  color: #a400ff;
  border: 0;
  margin-top: 5px;
  background-color: linear-gradient(#590000, #590000, #3f0000); }
  .CODAFieldFormAddButton button {
    color: white; }

.CODAFieldFormRemoveButton {
  position: absolute;
  top: 0.1em;
  right: 0;
  font-weight: bold;
  color: #a400ff;
  border: 0;
  margin-top: 5px;
  background-color: linear-gradient(#590000, #590000, #3f0000); }
  .CODAFieldFormRemoveButton button {
    color: white; }
