@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?87325990');
  src: url('fontello.eot?87325990#iefix') format('embedded-opentype'),
       url('fontello.woff?87325990') format('woff'),
       url('fontello.ttf?87325990') format('truetype'),
       url('fontello.svg?87325990#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('fontello.svg?87325990#fontello') format('svg');
  }
}
*/

.rp {
  display: inline-block;
  font-family: "fontello" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: inherit !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rp-share:before { content: '\e806'; } /* '' */
.rp-publish:before { content: '\e800'; } /* '' */
.rp-brush:before { content: '\e801'; } /* '' */
.rp-paypal:before { content: '\e805'; } /* '' */
.rp-menu:before { content: '\e802'; } /* '' */
.rp-yahoo:before { content: '\e803'; } /* '' */
.rp-box-rect:before { content: '\e804'; } /* '' */
