@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/MavenPro-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_1';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/MavenPro-Bold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_1';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_1) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: normal;
  src: url("/1.0/fonts/Dosis-Regular.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: normal;
	src: url($FONT_FILE_ITALIC_2) format('truetype');
}*/
@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: bold;
  src: url("/1.0/fonts/Dosis-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'CODA_FONT_2';
  font-style: normal;
  font-weight: 800;
  src: url("/1.0/fonts/Dosis-ExtraBold.ttf") format("truetype"); }

/*@font-face {
	font-family: 'CODA_FONT_2';
	font-style: italic;
	font-weight: bold;
	src: url($FONT_FILE_BOLD_ITALIC_2) format('truetype');
}*/
/* .CODASchedulePaymentListPreview{
	width: 500px;
	height: 200px;
    padding: 5px;
    position: absolute !important;
    z-index: 999;
    text-align: center;
	background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    display: inline-block; }
	.CODASchedulePaymentListPreview > h2 {
		display: block !important;
        color: white !important;  }
	.CODASchedulePaymentListPreview > thead .CODASchedulePaymentListPreviewHeaderName {
		line-height: 20px;
        font-size: 12px;
        color: #8600cf;
        text-transform: uppercase;
	}
	.CODAContextCalendar .CODAContextCalendarContent > tbody tr td {
        font-size: 11px;
        font-weight: bold;
        padding: 0; } */
.CODASchedulePaymentListPreview {
  width: 500px;
  height: 200px;
  background: #000c47;
  display: inline-block;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8); }
  .CODASchedulePaymentListPreview > table {
    border: 1px dotted #000c47;
    width: 100%;
    height: 100%; }
    .CODASchedulePaymentListPreview > table text-align:center
    h2 {
      display: block !important;
      color: black !important; }
    .CODASchedulePaymentListPreview > table > thead tr th {
      font-size: 16px;
      font-weight: bold;
      padding: 0;
      color: white;
      font-family: 'CODA_FONT_1'; }
    .CODASchedulePaymentListPreview > table td {
      font-size: 14px;
      font-weight: bold;
      padding: 0;
      color: white;
      font-family: 'CODA_FONT_1';
      text-align: center; }
